html, body {
    background-color: #5f96c9;
}

#container {
    position: absolute;
    width: calc(400px - 50px);
    height: calc(200px - 50px);
    top: 5%;
    left: calc(50% - 200px);
    padding: 25px;
    background-color: #ffffff;
    border-radius: 25px;
}

h2 {
    margin:0;
}

#author{
    margin:0;
    color: #999999;
}

#txt_searchKey {
    width: calc(100% - 25px - 25px);
    height: 25px;
    font-size: 25;
    float: left;
}

#img_loading {
    height: 25px;
    width: 25px;
    margin: 2px;
    float: none;
    visibility: hidden;
}

#suggestion_display {
    width: calc(100% - 25px - 25px + 4px - 2px);
}

#suggestion_display ul{
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius:0;
    border-top-right-radius:0;
    background-color: #ffffff;
    border-left: thin solid;
    border-bottom: thin solid;
    border-right: thin solid;
    border-color: #cccccc;
}

#suggestion_display ul li {
    width: calc(100% - 2px);
    height: calc(25px - 2px);
    border-bottom: thin solid;
    border-color: #cccccc;
    list-style-type: none;
    margin: 0;
    cursor: pointer;
}

#suggestion_display ul li:hover {
    background-color: #5f96c9;
}